.section-1
{
	background-image: url("../../assets/img/body-background-1.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.section-2
{
	background-image: url("../../assets/img/body-background-2.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

.section-3
{
	background-image: url("../../assets/img/body-background-3.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

.section-4
{
	background-image: url("../../assets/img/body-background-4.png");
	background-repeat: no-repeat;
	background-size: 100%;
}
