.side-bar
{
	background-color: #771A98;
	width:200px;
	height:calc(100% + 1600px);
	float:right;
}

.team-side
{
	height: 3200px;
}

.aside
{
	position: fixed;
	padding-left: 50px;
	padding-top: 20px;
}
li
{
	list-style-type: none;
}

li:hover
{
	list-style-type: circle;
}

li:active
{
	list-style-type: disc;
}

.link-aside
{
	color: #E6DA20;
	font-size: 30px;
}

.link-aside:visited
{
	color: #E6DA20;
}

.at-page
{
	list-style-type: disc;
}

.side-photo
{
	width: 100px;
	height: 100px;
}
